@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*-------------- ### Primary ### --------------*/
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /*-------------- ### Neutral ### --------------*/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /*------------- font ----------------- */
    --font-public-sans: 'Public Sans', sans-serif;

    --line-height: 1.3rem;
}

html {
    height: 100%;
    font-size: 18px;
}

body {
    font-family: var(--font-public-sans);
    min-width: 375px;
    position: relative;
}

button {
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    font-family: var(--font-public-sans);
    border: none;
    padding: .6rem 1.3rem;
    border-radius: 1.5rem;
    color: var(--White);
    font-size: 1rem;
    max-width: 11rem;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

nav {
    padding: 1.5rem 0;
    background-color: var(--White);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: none;
    gap: 1rem;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--Grayish-Blue);
}

nav button {
    display: none;
}

/*------------------------- main  -------------------*/

.mobile__bg {
    width: 100%;
    height: 45vh;
    background-image: url("images/image-mockups.png"), url("images/bg-intro-mobile.svg");
    background-size: 350px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 95%, right;
}


/*------------------------------------ intro  --------------------------------*/

.intro__section {
    background-color: var(--Very-Light-Gray);
    padding-top: 1rem;
    padding-bottom: 4rem;
}


.intro__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.intro__heading {
    color: var(--Dark-Blue);
    font-weight: 500;
    max-width: 15rem;
    font-size: clamp(2rem, 4vw, 2.5rem);
}

.intro__paragraph {
    text-align: center;
    color: var(--Grayish-Blue);
    line-height: var(--line-height);
}


/*------------------------------------------- easy -------------------------------------- */

.easy {
    padding: 6rem 0rem;
    background-color: var(--Light-Grayish-Blue);

}

.easy__heading {
    font-weight: 400;
    color: var(--Dark-Blue);
    font-size: 1.8rem;
    text-align: center;
    max-width: 15rem;
}

.reason, .reasons, .reason__details, .easy__container__outer, .easy__container__inner {
    display: flex;
    flex-direction: column;
}

.easy__container__outer {
    gap: 5rem;
}

.easy__container__inner {
    gap: 1rem;
    align-items: center;
}

.easy__paragraph {
    text-align: center;
    color: var(--Grayish-Blue);
    line-height: var(--line-height);
    min-width: 18rem;
}



.reason__details {
    gap: 1.2rem;
}

.reasons {
    gap: 1.8rem;
}

.reason {
    gap: 2rem;
}

.reason {
    align-items: center;
}

.reason__title {
    text-align: center;
    color: var(--Dark-Blue);
    font-size: 1.2rem;
}

.reason__text {
    text-align: center;
    color: var(--Grayish-Blue);
    line-height: var(--line-height);
}

/* articles */

.latest__articles {
    background-color: var(--Very-Light-Gray);
}

.articles__container {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    gap: 2rem;
}

.articles__heading {
    color: var(--Dark-Blue);
    font-weight: 500;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
}

.article__author, .article__text {
    color: var(--Grayish-Blue);
}

.article__title {
    color: var(--Dark-Blue);
}


/*----------------------------- attribution ------------------ */
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



/*---------------------------------- media queries ----------------------------- */
@media (min-width:790px) {
    nav ul {
        display: flex;
    }

    nav button {
        display: block;
    }


    .mobile__bg {
        display: none;
    }

    .intro__container {
        align-items: start;
    }

    .intro__paragraph {
        max-width: 25rem;
        text-align: left;
    }

    .intro__section {
        width: 100%;
        padding: 20vh 0;
    }

    .intro__heading {
        max-width: 21rem;
    }

    .easy__container__outer {
        align-items: start;
    }

    .easy__container__inner {
        align-items: start;
    }

    .easy__heading {
        max-width: none;
        text-align: left;
    }

    .easy__paragraph {
        max-width: 38rem;
        text-align: left;
        line-height: var(--line-height);
    }

    .reason {
        align-items: start;
    }

    .reason__text, .reason__title {
        text-align: left;
    }

    .reason__text {
        max-width: 16.56rem;
    }

    .reasons {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .articles__heading {
        text-align: left;
    }
}